<!DOCTYPE html>
<html ng-app="appinga">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link type="text/css" rel="stylesheet" href="app/css/materialize.min.css" media="screen,projection">
		<link rel="stylesheet" href="app/css/style.css">
		<script type="text/javascript" src="app/js/mask.js"></script>
		<script type="text/javascript" src="app/js/jquery-2.1.3.min.js"></script>
	  	<script type="text/javascript" src="app/js/materialize.min.js"></script>
		<script type="text/javascript" src="app/js/angular.min.js"></script>
		<script type="text/javascript" src="app/js/app.js"></script>
		<script>
			$(".button-collapse").sideNav();
		</script>
	</head>
	<body ng-controller="AppController as app">
		<header class="">
			<nav>
				<div class="nav-wrapper deep-purple">
					<a href="#!" class="left brand-logo">Appinga</a>
			        <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			        <ul class="right hide-on-med-and-down">
			          <li ng-class="{ active: app.isSelected(1) }"><a ng-click="app.selectPage(1)">Qual compensa mais?</a></li>
			          <li ng-class="{ active: app.isSelected(2) }"><a ng-click="app.selectPage(2)">Cálculo individual</a></li>
			          <li ng-class="{ active: app.isSelected(3) }"><a ng-click="app.selectPage(3)">Sobre</a></li>
			        </ul>
			        <ul class="side-nav" id="mobile">
			        	<h4>Appinga</h4>
			        	<div class="divider"></div>
						<li ng-class="{ active: app.isSelected(1) }"><a ng-click="app.selectPage(1)"><h6>Qual compensa mais?</h6></a></li>
						<li ng-class="{ active: app.isSelected(2) }"><a ng-click="app.selectPage(2)"><h6>Cálculo individual</h6></a></li>
						<li ng-class="{ active: app.isSelected(3) }"><a ng-click="app.selectPage(3)"><h6>Sobre</h6></a></li>
			        </ul>
				</div>
			</nav>
		</header>
		<div class="divider"></div>
		<section id="page-1" ng-show="app.isSelected(1)">
			<div class="title-page">
				<h5 class="center-align">Insira os preços das bebidas disponíveis</h5>
			</div>
			<div class="container">
				<div class="row">
					<form id="input-prices" class="col s12">

						<div class="input-field col m6 s12">
							<input type="text" title="Cerveja Latinha" class="drink-price" id="cerveja-latinha" value="" data-grau="4" data-ml="276" onkeyup="mascara(this, mvalor);">
							<label for="cerveja-latinha">Cerveja latinha</label>
						</div>



						<div class="input-field col m6 s12">
							<input type="text" title="Cerveja lata" class="drink-price" id="cerveja-lata" value="" data-grau="4" data-ml="350" onkeyup="mascara(this, mvalor);">
							<label for="cerveja-lata">Cerveja lata</label>
						</div>



						<div class="input-field col m6 s12">
							<input type="text" title="Cerveja latão" class="drink-price" id="cerveja-latao" value="" data-grau="4" data-ml="473" onkeyup="mascara(this, mvalor);">
							<label for="cerveja-latao">Cerveja latão</label>
						</div>



						<div class="input-field col m6 s12">
							<input type="text" title="Dose de Cachaça" class="drink-price" id="cachaca-dose" value="" data-grau="40" data-ml="50" onkeyup="mascara(this, mvalor);">
							<label for="cachaca-dose">Dose de Cachaça</label>
						</div>



						<div class="input-field col m6 s12">
							<input type="text" title="Dose de Vodka" class="drink-price" id="vodka-dose" value="" data-grau="40" data-ml="50" onkeyup="mascara(this, mvalor);">
							<label for="vodka-dose">Dose de Vodka</label>
						</div>



						<div class="input-field col m6 s12">
							<input type="text" title="Dose de Whisky" class="drink-price" id="whisky-dose" value="" data-grau="42" data-ml="50" onkeyup="mascara(this, mvalor);">
							<label for="whisky-dose">Dose de Whisky</label>
						</div>



						<div class="input-field col m6 s12">
							<input type="text" title="Copo de Catuaba com gelo, 250ml" class="drink-price" id="catuaba" value="" data-grau="12" data-ml="200" onkeyup="mascara(this, mvalor);">
							<label for="catuaba">Copo de Catuaba com gelo 250ml</label>
						</div>

						<div class="input-field col m6 s12">
							<input type="text" title="Taça de Vinho, 125ml" class="drink-price" id="vinho" value="" data-grau="12" data-ml="125" onkeyup="mascara(this, mvalor);">
							<label for="catuaba">Taça de Vinho 125ml</label>
						</div>



						<div class="input-field col m6 s12 right">
							<button ng-click="app.countDrinks()" id="btn-ranking" class="waves-effect lime darken-1 btn right">Me passa um ranking!</button>
						</div>

					</div>
				</form>
			</div>
		</section>
		<section id="page-2" ng-show="app.isSelected(2)">
			<div class="container">
				<h2>As melhores opções pra ficar doidão são:</h2>
				<p>*por custo de ml/alcool</p>
				<ol></ol>
				<button class="pure-button pure-button-primary pure-button-refazer">Refazer Cálculo</button>
			</div>
		</section>
		<section id="page-3" ng-show="app.isSelected(3)">
			<div class="pure-u-24-24 padding-1">
				<h2>Sobre</h2>
				<p>*por custo de ml/alcool</p>
			</div>
		</section>
	</body>
</html>