header, footer{
	color: #fff;
	float: left;
	text-align: center;
	width: 100%;
}
body{
	color: #777;
	margin-bottom: 30px;
}
section{
	width: 100%;
}
footer{
	display: none;
}
.brand-logo{
	left: .5em;
}
header{
	margin-bottom: 1em;
}
.side-nav#mobile{
	text-align: left;
}
.side-nav#mobile h4{
	color: #ddd;
	text-align: center;
}
.title-page{
	background-color: #ddd;
	color: #444;
	padding: .5em 0;
}
.title-page h5{
	font-size: 1.2em;
}
#input-prices{
	margin-top: 1em;
}
#btn-ranking{
	/*color: #444;*/
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #c0ca33;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #c0ca33;
 box-shadow: 0 1px 0 0 #c0ca33;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #c0ca33;
 box-shadow: 0 1px 0 0 #c0ca33;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #c0ca33;
 box-shadow: 0 1px 0 0 #c0ca33;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #c0ca33;
}